* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: white;
    z-index: 1;
    width: 100%;
    padding: 0 8%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    height: 40px;
    width: auto;
}

.navbar-list ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navbar-list ul li {
    margin-left: 50px;
}

.navbar-list ul li a {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    display: block;
}

a::after {
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-list ul li a:hover {
    color: orange;
}

.navbar-list ul li a:hover::after {
    width: 100%;
}

.scroll {
    background: rgba(255, 255, 255, 0.174);
    top: -100px;
    border-radius: 20px;
    width: 90%;
    animation: fadedown .4s ease 1s forwards;
}

@keyframes fadedown {
    0% {
        top: -100px;
    }

    100% {
        top: 20px;
    }
}

.navbar-brand {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(112.82deg, #a044ff 19.93%, #ad50ca 102.22%);
    -webkit-background-clip: text;
    color: transparent;
}

.home-page {
    height: 100vh;
}

.intro {
    padding-left: 8%;
    padding-top: 13%;
}

.intro h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span {
    color: orange
}

.intro p {
    color: #555;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;

}

.intro a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    cursor: pointer;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.images .fahad-img-back {
    margin-bottom: 30px;
}

.images:hover .fahad-img {
    left: 45%;
}

.images:hover .fahad-img-back {
    bottom: 40px;
}

.about {
    padding: 15% 10% 10% 10%;
}

.about .title {
    text-align: center;
}

.about .content-section {
    display: flex;
    justify-content: space-between;
}

.about .image-section {
    width: 50%;
}

.about .image-section img {
    width: 100%;
}

.about .content {
    width: 40%;
    margin: auto;
    font-family: 'Titan One', cursive;
    font-size: 20px;
}

.text-gray {
    color: gray;
}

.skill-section {
    height: 60vh;
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: wheat;
}

.skill-section h1 {
    font-size: 1.9rem;
}

.skill-section .box {
    background: #9c97f1;
    height: 2px;
    margin: 80px 0;
    display: flex;
}

.skill-section .box .vertical {
    height: 40px;
    width: 2px;
    background-color: #9c97f1;
    margin: 0 110px;
}

.vertical-title {
    position: relative;
    top: -45px;
    left: -50px;
    text-align: center;
    display: table;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
}

.skill-section .vertical-icons {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    display: table;
    align-items: center;
}

.skill-section .vertical-icons img {
    height: 20px;
    color: white;
}

.skill-section .vertical-icons p {
    color: white;
    padding: 0 5px;
}

.skill-section .vertical-icons .icon-c {
    background: rgba(0, 0, 255, 0.568);
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 10px;
    margin-left: -23px;
}

.skill-section .vertical-icons .icon-cpp {
    background: rgba(0, 0, 255, 0.727);
    margin: 5px;
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 3px;
    margin-left: -31px;
}

.skill-section .vertical-icons .icon-html {
    background-color: rgba(255, 68, 0, 0.932);
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 10px;
    margin-left: -42px;
}

.skill-section .vertical-icons .icon-css {
    background-color: rgb(135, 175, 235);
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 3px;
    margin-left: -34px;
}

.skill-section .vertical-icons .icon-js {
    background-color: gray;
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 3px;
    margin-left: -51px;
}

.skill-section .vertical-icons .icon-java {
    background-color: orange;
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 10px;
    margin-left: -34px;
}

.skill-section .vertical-icons .icon-android {
    background-color: olivedrab;
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 3px;
    margin-left: -70px;
    width: 130px;
}

.skill-section .vertical-icons .icon-firebase {
    background-color: orangered;
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 10px;
    margin-left: -44px;
}

.skill-section .vertical-icons .icon-mysql {
    background-color: rgba(0, 0, 255, 0.774);
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 3px;
    margin-left: -37px;
}

.skill-section .vertical-icons .icon-git {
    background-color: orange;
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 27px;
    margin-left: -27px;
}

.skill-section .vertical-icons .icon-github {
    padding: 4px;
    float: left;
    display: flex;
    margin-top: 3px;
    margin-left: -40px;
    background-color: rgb(128, 128, 128);
}