body{
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    background: none;
    z-index: 1;
    width: 90%;
    padding: 0px 100px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navbar-list ul li{
    margin-left: 50px;
}

.navbar-list ul li a{
    font-size: 14px;
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    display: block;
}

.scroll{
    background: white;
    top: -100px;
    border-radius: 20px;
    width: 90%;
    animation: fadedown .4s ease 1s forwards;
}

@keyframes fadedown{
    0%{
        top: -100px;
    }
    100%{
        top: 20px;
    }
}

.navbar-brand{
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(112.82deg, #a044ff 19.93%, #ad50ca 102.22%);
    -webkit-background-clip: text;
    color: transparent;
}